*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --brightOrangeSedansBg: hsl(31, 77%, 52%);
    --darkCyanSuvsBg: hsl(184, 100%, 22%);
    --veryDarkCyanLuxuryBg: hsl(179, 100%, 13%);
    --paragraphsColor: hsla(0, 0%, 100%, 0.75);
    --backgroundHeadingsButtons: hsl(0, 0%, 95%);
    --textSize: 15px;
}
img{
    max-width: 100%;
}
a,
a:hover{
    text-decoration: none;
}
p{
    overflow-wrap: break-word;
    font-size: var(--textSize);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: var(--paragraphsColor);
    letter-spacing: 1px;
    line-height: 1.7em;
    margin-top: 2rem;
}
h1{
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    color: var(--backgroundHeadingsButtons);
    font-size: 42px;
    text-transform: uppercase;
}
html, body{
    height: 100%;
}
body{
    background-color: var(--backgroundHeadingsButtons);
    display: grid;
    overflow: hidden;
    place-content: center;
}
.container{
    max-width: 925px;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
}
.sedans{
    background-color: var(--brightOrangeSedansBg);
    padding: 2.5rem 2.5rem 3.5rem;
}
.sedans a{
    color: var(--brightOrangeSedansBg);
}
.sedans_info{
    padding: 2rem 0 5rem;
}
.suvs{
    background-color: var(--darkCyanSuvsBg);
    padding: 2.5rem;
}
.suvs a{
    color: var(--darkCyanSuvsBg);
}
.suvs_info{
    padding: 2rem 0 5rem;
}
.luxury{
    background-color: var(--veryDarkCyanLuxuryBg);
    padding: 2.5rem;
}
.luxury a{
    color: var(--veryDarkCyanLuxuryBg);
}
.luxury_info{
    padding: 2rem 0 5rem;
}
.btn{
    background-color: var(--backgroundHeadingsButtons);
    border-radius: 5rem;
    padding: 12px 35px;
    text-transform: capitalize;
    border: 2px solid var(--backgroundHeadingsButtons);
    transition: 1s;
}
.btn:hover{
    color: var(--paragraphsColor);
    background: none;
}
@media all and (max-width: 600px){
    .container{
        flex-direction: column;
        margin: 0.3rem;
        overflow: auto;
    }
    .sedans{
        padding: 3.5rem;
    }
    .sedans_info{
        padding: 2.5rem 0;
    }
    .suvs{
        padding: 3.5rem;
    }
    .suvs_info{
        padding: 2.5rem 0;
    }
    .luxury{
        padding: 3.5rem;
    }
    .luxury_info{
        padding: 2.5rem 0;
    }
    p{
        letter-spacing: 2px;
    }
}